{% extends 'suit/change_form.html' %}

{% load i18n %}

{% block object-tools %}
  {% if not is_popup %}
    {% if can_add_refund %}
      <ul class="box menu-box">
        {% if can_add_refund %}
          <li>
            <a href="{{ add_refund_url }}" class="add-plan">
              <i class="icon-edit icon-alpha75"></i>{% trans "Refund" %}
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  {% endif %}
{% endblock object-tools %}