{% extends 'suit/change_form.html' %}

{% load i18n %}

{% block object-tools %}
  {% if not is_popup %}
    {% if can_add_plan or can_add_addon or can_add_coupon %}
      <ul class="box menu-box">
        {% if can_add_plan %}
          <li>
            <a href="{{ add_plan_url }}" class="add-plan">
              <i class="icon-edit icon-alpha75"></i>{% trans "Add Plan" %}
            </a>
          </li>
        {% endif %}

        {% if can_add_addon %}
          <li>
            <a href="{{ add_addon_url }}" class="add-addition">
              <i class="icon-plus icon-alpha75"></i>{% trans "Add Addition" %}
            </a>
          </li>
        {% endif %}

        {% if can_add_coupon %}
          <li>
            <a href="{{ add_coupon_url }}" class="add-coupon">
              <i class="icon-tag icon-alpha75"></i>{% trans "Add Coupon" %}
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  {% endif %}
{% endblock object-tools %}