/* Address */
.billing-address, .shipping-address {
    width: calc(50% - 15px);
}

.billing-address h2, .shipping-address h2 {
    margin-top: 0;
}

.billing-address {
    margin-right: 30px;
    float: left;
}

.shipping-address {
    float: right;
}

.form-horizontal .control-group .field-box.field-salutation .controls label {
    display: none;
}
