@keyframes social-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.message-dialog.preloader:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(51, 51, 51, 0.3);
    -webkit-animation: social-opacity 0.1s forwards linear;
    -o-animation: social-opacity 0.1s forwards linear;
    animation: social-opacity 0.1s forwards linear;
}

.message-dialog.preloader:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 40px;
    height: 40px;
    background: url(../img/preloader.svg) no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: social-opacity 0.1s forwards linear;
    -o-animation: social-opacity 0.1s forwards linear;
    animation: social-opacity 0.1s forwards linear;
}

.message-dialog.preloader .ui-dialog-titlebar-close {
  display: none;
}
.message-dialog.preloader .ui-dialog-buttonset {
    visibility: hidden;
}

.message-dialog .ui-widget-content {
    color: #333333;
}
